HOST: http://www.peepol.tv/

--- Peepol.tv ---

---
#API documentation

## Allowed HTTPs requests:

    POST   :   To create a resource
    GET    :   Get a resource or list of resources
    DELETE :   To delete resource
    PUT    :   To update a resource

## Description Of Usual Server Responses

- 200 `OK` - the request was successful.
- 201 `Created` - the request was successful and a resource was created.
- 204 `No Content` - the request was successful but there is no representation to return (i.e. the response is empty).
- 400 `Bad Request` - the request could not be understood or was missing required parameters.
- 401 `Unauthorized` - authentication failed or user doesn't have permissions for requested operation.
- 403 `Forbidden` - access denied.
- 404 `Not Found` - resource was not found
- 405 `Method Not Allowed` - requested method is not supported for resource.
---

--
Streams Resources
These are the video stream resources.

###Stream Properties
- id (int): Stream id
- title (string): Title of the stream
- desc (string): Description
- lat (int): Latitude
- lng (int): Longitude
- geo_reference (string): Location reference text
- channels (array): Channels list
- started_on (string): Stream started date
--

Create a new stream
POST /streams
> Content-Type: application/json
> Accept: application/json
{ 
    "title": "Lolapaluza en Chile",
    "desc": "Excelent music!",
    "lat": -33462666,
    "lng": -70661713,
    "geo_reference": "Parque O'higgins"
}
< 201
< Content-Type: application/json
{ 
    "id": 5,
    "title": "Lolapaluza en Chile",
    "desc": "Excelent music!",
    "lat": -33462666,
    "lng": -70661713,
    "geo_reference": "Parque O'higgins",
    "channels": [],
    "started_on": "2012-01-23T12:00:00.000"
}

Stream information
GET /streams/{id}
< 200
< Content-Type: application/json
{ 
    "id": 5,
    "title": "Lolapaluza en Chile",
    "desc": "Excelent music!",
    "lat": -33462666,
    "lng": -70661713,
    "geo_reference": "Parque O'higgins",
    "channels": [],
    "started_on": "2012-01-23T12:00:00.000"
}

Stream information
DELETE /streams/{id}
< 200
< Content-Type: application/json
{ "status": "ok" }

List the current stream channels
GET /streams/{id}/channels
< 200
< Content-Type: application/json
[2, 1]

Adds the current stream to a channel
POST /streams/{id}/channels
> Content-Type: application/json
> Accept: application/json
{ 
    "channel_id": 2
}
< 201
< Content-Type: application/json
{
    "id": 2,
    "identifier": "LosPinguinos",
    "streams": [
        { 
            "id": 7,
            "title": "No al lucro",
            "desc": "",
            "lat": -33462666,
            "lng": -70661713,
            "geo_reference": "Alameda",
            "channels": [2, 5],
            "started_on": "2012-01-23T12:00:00.000"
        },
        { 
            "id": 8,
            "title": "El wanaco",
            "desc": "Esta pegando fuerte",
            "lat": -33462666,
            "lng": -70661713,
            "geo_reference": "Nataniel Cox",
            "channels": [2],
            "started_on": "2012-01-23T12:00:00.000"
        }
    ],
    "streams_count": 2,
    "created_on": "2012-01-23T12:00:00.000"
}   

Removes the current stream from the channel
DELETE /streams/{id}/channels/{id}
< 200
< Content-Type: application/json
{ "status": "ok" }

-- 
Channels Resources 
These are the channel resources.

###Channel Properties
- id (int): Channel id
- identifier (string): Unique name for the channel
- streams (array): List of streams
- streams_count: Count of streams in the channel
- created_on (string): Channel created date
--

List all the channels
GET /channels
< 200
[
    {
        "id": 1,
        "identifier": "LolapaluzaCL",
        "streams": [
            { 
                "id": 5,
                "title": "Lolapaluza en Chile",
                "desc": "Excelent music!",
                "lat": -33462666,
                "lng": -70661713,
                "geo_reference": "Parque O'higgins",
                "channels": [1, 5],
                "started_on": "2012-01-23T12:00:00.000"
            },
            { 
                "id": 6,
                "title": "Lolapaluza!",
                "desc": "Chancho en piedra",
                "lat": -33462666,
                "lng": -70661713,
                "geo_reference": "Parque O'higgins",
                "channels": [1, 3],
                "started_on": "2012-01-23T12:00:00.000"
            }
        ],
        "streams_count": 2,
        "created_on": "2012-01-23T12:00:00.000"
    },
    {
        "id": 2,
        "identifier": "LosPinguinos",
        "streams": [
            { 
                "id": 7,
                "title": "No al lucro",
                "desc": "",
                "lat": -33462666,
                "lng": -70661713,
                "geo_reference": "Alameda",
                "channels": [2],
                "started_on": "2012-01-23T12:00:00.000"
            }
        ],
        "streams_count": 1,
        "created_on": "2012-01-23T12:00:00.000"
    }    
]

Create a new empty channel
POST /channels
> Content-Type: application/json
> Accept: application/json
{ 
    "identifier": "LolapaluzaCL"
}
< 201
< Content-Type: application/json
{
    "id": 1,
    "identifier": "LolapaluzaCL",
    "streams": [],
    "streams_count": 0,
    "created_on": "2012-01-23T12:00:00.000"
}

Channel information
GET /channels/{id}
< 200
{
    "id": 1,
    "identifier": "LolapaluzaCL",
    "streams": [
        { 
            "id": 5,
            "title": "Lolapaluza en Chile",
            "desc": "Excelent music!",
            "lat": -33462666,
            "lng": -70661713,
            "geo_reference": "Parque O'higgins",
            "channels": [1, 5],
            "started_on": "2012-01-23T12:00:00.000"
        },
        { 
            "id": 6,
            "title": "Lolapaluza!",
            "desc": "Chancho en piedra",
            "lat": -33462666,
            "lng": -70661713,
            "geo_reference": "Parque O'higgins",
            "channels": [1, 3],
            "started_on": "2012-01-23T12:00:00.000"
        }
    ],
    "streams_count": 3,
    "created_on": "2012-01-23T12:00:00.000"
}

Delete the channel
DELETE /channel/{id}
< 200
{ "status": "ok" }

Lists the current channel streams
GET /channels/{id}/streams
< 200
[
    { 
        "id": 5,
        "title": "Lolapaluza en Chile",
        "desc": "Excelent music!",
        "lat": -33462666,
        "lng": -70661713,
        "geo_reference": "Parque O'higgins",
        "channels": [1, 5],
        "started_on": "2012-01-23T12:00:00.000"
    },
    { 
        "id": 6,
        "title": "Lolapaluza!",
        "desc": "Chancho en piedra",
        "lat": -33462666,
        "lng": -70661713,
        "geo_reference": "Parque O'higgins",
        "channels": [1, 3],
        "started_on": "2012-01-23T12:00:00.000"
    }
]

Create a new stream in the current channel
POST /channels/{id}/streams
> Content-Type: application/json
> Accept: application/json
{ 
    "title": "Lolapaluza en Chile",
    "desc": "Excelent music!",
    "lat": -33462666,
    "lng": -70661713,
    "geo_reference": "Parque O'higgins"
}
< 201
{ 
    "id": 5,
    "title": "Lolapaluza en Chile",
    "desc": "Excelent music!",
    "lat": -33462666,
    "lng": -70661713,
    "geo_reference": "Parque O'higgins",
    "channels": [],
    "started_on": "2012-01-23T12:00:00.000"
}
